* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
scroll-behavior: smooth;
}

body {
  --background-colour: #e7e7e7;
  --header-colour: rgb(255, 255, 255);
  --font-colour: black;
  --accent-colour: #e0093d;
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  color: var(--font-colour);
  transition: color 0.5s;
}

body.dark-theme{
  --background-colour: #1f1f1f;
  --header-colour:  #110d0d;
  --font-colour: white;
}

.PageWidth {
  width: 100%;
  margin: 0 auto;
}

.Container {
  width: 100%;
  background-color: var(--background-colour);
  transition: background-color 0.5s;
}

.Header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  z-index: 10;
  background-color: var(--header-colour);
  transition: background-color 0.5s;
}

nav {
  width: 100%;
  height: 55px; 
  font-size: 22px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  box-shadow: 0 8px 6px -6px rgba(0,0,0,0.5);
  padding-top: 7px;
  background-color: var(--header-colour);
  transition: background-color 0.5s;
}

nav li {
  display: inline-block;
  padding: 0px 10px 0px 10px;
}

nav li a {
  color: var(--font-colour);
  transition: color 0.5s;
  font-weight: bold;
  text-decoration: none;
  outline: 0;
}

li:hover {
  opacity: 0.8;
  cursor: pointer;
}

.Footer {
  color: var(--font-colour);
  width: 100%;
  padding-bottom: 20px;
  padding-top: 40px;
  background-color: var(--background-colour);
  transition: background-color 0.5s;
}

.ContentSection {
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  margin: 0 auto;
}

H2 {
  font-size: 25px;
  padding-top: 70px;
  padding-bottom: 30px;
  width: 100%;
  /*color: #e0093d;*/
  text-decoration: underline;
}

.RedText {
  color: var(--accent-colour);
}

.ContainerImages {
  width: 100%;
}

#Logo {
  height: 100%;
}

#LogoRow {
  height: 10%;
}

.Gap {
  height: 10%;
};

#SketchCanvas {
  height: 100%;
}

#DescriptionRow {
  width: 100%;
  text-align: justify;
}

.ExperimentImages {
  width: 100%;
  height: 100%;
  border: 2;
  border-radius: 5px;
  box-shadow: 0 0 5px 2Px  rgba(0,0,0,0.2);
  z-index: 5;
}

.SocialImages {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  margin-right: 20px;
  stroke: var(--accent-colour);
  fill: none;
}

.SocialImages:hover{
  opacity: 0.8;

}

#SocialRow {
  padding-top: 30px;
}

.Sticky{
  position: fixed;
}

@media only screen and (min-width: 400px) {
  .ContentSection {
    max-width: 550px;
    margin: 0 auto;
  }
}